<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Is used to be able to save the images in photo library</string>
	<key>NSCameraUsageDescription</key>
	<string>Is used to be able to take photos directly from the app</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Is used to be able to acess photo library to pick one or more existing images</string>
</dict>
</plist>
